.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 10px;
}

.music {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    background-color: #f7f7f7;
    flex-direction: column;
    align-items: center;
    transition: 1s;
}
.music:hover {
    transition: 2s;
    transform: scale(0.95);
    box-shadow: 0 0 10px #8b5cca, 0 0 20px #8b5cca, 0 0 30px #8b5cca;
    transition-delay: 0.2s;
    cursor: pointer;
}
.music h2 {
    margin-right: 10px;
}

.music p {
    margin-right: 10px;
}

.music audio {
    width: 200px;
}
